/**/*.xmb
/**/*.lnk

/**/*~lock.*


/**/*.lrp
/**/*.xth
/**/*.xtd
/**/*.xtt
/**/*.xsd
/**/*.wav
/**/*.bin
/**/*.ttf

/**/*.xsddelta

/**/art/*
/**/fonts/*
/**/shaders/*
/**/shaders-pc/*
/**/shaders-xb1/*
/**/content/*
/mod/startup/*
/mod/data/placementrules/*
