/**/*.xmb
/**/*.lnk

/**/*~lock.*


/**/*.xtd
/**/*.lrp
/**/*.xtt
/**/*.bik
/**/*.gfx
/**/*.ugx
/**/*.uax

/mod/art/ui/flash/*

/**/*.swf

/**/*.ddx
/**/*.lrp
/**/*.xth
/**/*.xtd
/**/*.xtt
/**/*.xsd
/**/*.wav
/**/*.bin
/**/*.ttf

/**/*.xsddelta

/**/fonts/*
/**/shaders/*
/**/shaders-pc/*
/**/shaders-xb1/*
/**/content/*
/mod/startup/*
/mod/data/placementrules/*
/mod/startup/*